* {
    box-sizing: border-box;
}

input[type=text],
input[type=email], select{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}     

input[type=date], select{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    padding-top: 30px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    margin-top: 25px;
    margin-right: 20px;
    padding-top: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button{
    margin-top: 25px;
    background-color: #DC143C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #8B0000;
}

.container {
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    font-family: sans-serif;
    float: left;
    width: 25%;
    margin-top: 20px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* style untuk form ganti password */
div .container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
}

form table {
    border :none;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}

th, td {
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    font-family: sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.judul{
    background: #8FBC8F;
    padding: 10px 22px;
    height: 50px;
    color : white;
    font-size: 25px;
    font-family: sans-serif;
}

div.judul h2.jdl{
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
}

div.form-ubah-password {
    margin-top: 2px;
    background: #E9967A;
    padding:10px 22px 0;
    color: white;
}

div .kembali-pass a{
    list-style: none;
    float: center;
    background: #DC143C;
    padding: 8px 30px;
    margin-bottom: 10px;
    border: 1px solid #DC143C;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}

div.kembali-pass a:hover {
    font-family: sans-serif;
    background: #821010;
}
