
	h1,h2,p,a{
		font-family: sans-serif;
		font-weight: normal;
	}
 
	.jam {
		overflow: hidden;
		width: 156px;
		border: 3px solid orange;
	}
	.kotak{
		float: left;
		width: 50px;
		height: 20px;
        background-color: white;
        border: 1px solid orange;
	}
	.jam p {
		color: rgb(0, 0, 0);
		font-size: 15px;
		text-align: center;
    }